.main {
    text-align: center;
}

.main h1 {
    color: #000    ;
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main p {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 35px;
    font-weight: 400;
}

.main button {
    color: #fff;
    background-color: blue;
    padding: 30px 90px;
    transition: all 0s;
}

.main button:hover {
    background-color: #008000;
}